
  <div id="content">
  
  <div id="leftbod">
  
  
  <div class="homepage-logo">
  <img src="https://i.imgur.com/XJ08cL4.png"  alt="logo">
  </div>
  <h1 class="tagline">Chat with friends, old and new on ChitChat!</h1>
  
  
  
  
  
  <div class="leftbar">
  <img src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xap1/t39.2365-6/851558_160351450817973_1678868765_n.png " alt="" class="iconwrap fb1"/>
  <div class="fb1">
  
  </div> 
  </div> 
  
  
  </div>
  
  <div id="rightbod">
  <div class="signup bolder">Come in and chat!</div>
  
  
  <div class="login-form">
  <div class="formbox">
  <input type="text" class="inputbody in1" placeholder="Email address">
  </div>
  
  <div class="formbox">
  <input type="text" class="inputbody in1" placeholder="Password">
  </div>
  
  
  
  
  <div class="formbox">
  <button type="submit" class="signbut bolder">Login</button>
  </div>
  
  </div>
  <div class="formbox">
  <button type="submit" class="signbut bolder">Create an account</button>
  </div>
  </div>
  </div>

<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<p><%= alert %></p>

<h1>Login</h1>
<%= form_tag sessions_path do |form| %>
  <div class=”field”>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>
  <div class=”field”>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class=”actions”>
    <%= submit_tag "Login" %>
  </div>
<% end %>

<p>
  Or,
  <%= link_to "Sign Up", signup_path %>
</p>
