
<br>
<div class="left-padding">
    <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar, size: 80 %>
    <% else %>
        <%= image_tag "default-profile.png", size: 80%>
    <% end %>
    <h1 class="header-text"><%= @user.first_name %> <%= @user.last_name %></h1>

        <% if @user.id == current_user.id %>
            <%= link_to 'Edit bio', users_path , class: "link-text"%>
        <%end%>

        | <%= link_to "Back", :back, class: "link-text" %>
</div>
<br>
<br>
    <div class="left-container">
        <h5> About me... </h5>
        <h4><%= current_user.bio %></h4>
    </div>
