
<br>
<div class="left-padding">
    <img class="avatar" src="<%= current_user.profile_pic(500) %>" onerror="this.onerror=null;this.src='<%= error_profile_pic %>';">
    <h1 class="header-text"><%= @user.first_name %> <%= @user.last_name %></h1>

        <% if @user.id == current_user.id %>
            <%= link_to 'Edit bio', users_path , class: "link-text"%>
        <%end%>

        | <%= link_to "Back", :back, class: "link-text" %>
</div>
<br>
<br>
    <div class="left-container">
        <h5> About me... </h5>
        <h4><%= current_user.bio %></h4>
    </div>
