<h1>Rooms index</h1>

<% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to "Log Out", logout_path %>
<% else %>
  <%= link_to "Log In", login_path %> or
  <%= link_to "Sign Up", signup_path %>

<% end %>
<p><%= notice %></p>

<!--below needs to be changed to _rooms.html.erb-->

<div>
<%= link_to new_room_path, class: "btn btn-primary" do %>
  Create a room
<% end %>
</div>

<% if @rooms.present? %>
      <nav class="nav flex-column">
        <% @rooms.each do |room| %>
          <%= link_to room.name, room_path(room), class: "nav-link room-nav-link" %>
        <% end %>
      </nav>
    <% else %>
      <div class="text-muted">
        There are no rooms
      </div>
    <% end %>
