<h1>Rooms index</h1>
<%= link_to 'Logout', destroy_user_session_path, method: :delete %>

<img class="avatar" src="<%= current_user.profile_pic(100) %>" onerror="this.onerror=null;this.src='<%= error_profile_pic %>';">

<div>
  <div>
    <%= render partial: 'rooms' %>
  </div>

  <div >
    <div>
      <h4>
        Welcome to the ChitChat <%= current_user.first_name %>!
      </h4>
      <p>
        You can create or join a room from the sidebar.
      </p>
    </div>
  </div>
</div>