<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Rooms index</title>
</head>
<body>
  <nav class="navbar navbar-light" style="background-color: #e98888b8;">
    <a class="navbar-brand" href="#">
      <img src="https://i.imgur.com/oWcqCmw.png" width="65" height="30" class="d-inline-block align-top" alt="">
      ChitChat
    </a>
    <span class="navbar-text">
      <% if current_user %>
        Logged in as <%= current_user.email %>.
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"btn btn-light" %>
        
      <% else %>
        <%= link_to "Log In", login_path %> or
        <%= link_to "Sign Up", signup_path %> 
      <% end %>
    </span>
  </nav>
<br>
<h1>Hey <%= current_user.first_name %>, come to chat?</h1>
<br>
<div class="container">
  <h2 class="room-title">Open rooms</h2>

  <p><%= notice %></p>

<img class="avatar" src="<%= current_user.profile_pic %>" onerror="this.onerror=null;this.src='<%= error_profile_pic %>';">
<h1>Rooms index</h1>


<img class="avatar" src="<%= current_user.profile_pic %>" onerror="this.onerror=null;this.src='<%= error_profile_pic %>';">

    <%if @rooms.present? %>
        <% @rooms.each do |room| %>
          <%= link_to room.name, room_path(room), class: "btn btn-secondary btn-lg btn-block" %>
        <% end %> 
    <% else %>
      <br>
      <br>
      There are currently no active rooms
    <% end %>
    <br>
    Don't fancy any of those?
    <br>
      <%= link_to new_room_path, class: "btn btn-outline-secondary" do %>
        Create a new room
      <% end %>
</div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>       
  </body>
</html>

