
<br>
<p><%= notice %></p>
<div class="typewriter-heading-div">

  <h1 class="typewriter text-left">Hey <%= current_user.first_name %>, come to chat?</h1>
</div>  

<% if current_user.avatar.attached? %>
  <%= image_tag current_user.avatar, size: 80 %>
<% else %>
  <%= image_tag "default-profile.png", size: 80 %>
<% end %>

<br>
<div class="container">
  <h1 class="room-header">Open rooms</h1>
<br>
    <%if @rooms.present? %>
        <% @rooms.each do |room| %>
          <%= link_to room.name, room_path(room), class: "btn btn-outline-secondary btn-lg btn-block" %>
        <% end %>
    <% else %>
      <br>
      <br>
      There are currently no active rooms
    <% end %>
    <br>
    <br>
    Don't fancy any of those?
    <br>
      <%= link_to new_room_path, class: "btn btn-primary" do %>
        Create a new room
      <% end %>
</div>
