<div class="container">
<br>
<p><%= notice %></p>
<div class="typewriter-heading-div">

  <h1 class="typewriter text-left">Hey <%= current_user.first_name %>, come to chat?</h1>
</div>  

<br>
<div class="container">
  <h1 class="signup bolder">Open rooms</h1>
<br>
    <%if @rooms.present? %>
        <% @rooms.each do |room| %>
          <%= link_to room.name, room_path(room), class: "btn btn-outline-secondary btn-lg btn-block" %>
          <%= link_to 'Delete', room_path(room), method: :delete, data: { confirm: 'Are you sure?' } %>

        <% end %>
    <% else %>
      <br>
      <br>
      <p class="tagline">There are currently no active rooms</p>
    <% end %>
    <br>
    <br>
    <p class="tagline">Don't fancy any of those?</p>
    <div class= "tagline">
      <%= link_to new_room_path, class: "btn btn-primary" do %>
        Create a new room
      <% end %>
</div>
</div>
</div>
