
<br>
<div class="typewriter-heading-div">
<h1 class="typewriter"> <%= @room.name %> </h1>
</div>
<br>

  <div class="col">
    <div class="chat" data-channel-subscribe="room" data-room-id="<%= @room.id %>">
      <% @room_messages.each do |room_message| %>
        <div class="chat-message-container">
          <div class="row no-gutters">
            <div class="col-auto text-center">

              <% if current_user.avatar.attached? %>
                <%= image_tag current_user.avatar, size: 50 %>
                <% else %>
                  <%= image_tag "default-profile.png", size: 50 %>
                <% end %>

            </div>

            <div class="col">
              <div class="message-content">
                
                  <% regex = /(https?:\/\/.*\.(?:png|jpg|jpeg|gif))/i %>
                  <% if room_message.message.match(regex)%>
                    <% img_url = room_message.message.match(regex)%>
                    <% text = room_message.message.gsub(img_url[0], " ")%>
                    <p> <%= text %></p>
                    <%= renderImage(img_url).html_safe %>
                  <% else %> 
                    <p class="mb-1"> 
                      <%= room_message.message %>
                    </p>
                  <% end %> 

                <div class="text-right">
                  <small>
                  <%= room_message.created_at%>
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  </div>
  <br>
  <%= simple_form_for @room_message, remote: true do |form| %>
    <div class="input-group mb-3">
      <%= form.input :message, as: :string,
                               wrapper: false,
                               label: false,
                               placeholder: "your message here",
                               input_html: {
                                 class: 'chat-input'
                               } %>
      <div class="input-group-append">
        <%= form.submit "Send", class: 'btn btn-primary chat-input' %>
      </div>
    </div>
    <%= form.input :room_id, as: :hidden %>
  <% end %>

  <div class="media-preview"></div>

    <%= link_to new_room_path, class: "btn btn-primary" do %>
      Bored? Try creating a new room
    <% end %> 
</div>


<!--each new incoming message will clone this snippet of html. see javascripts/channels/room_channels.js-->
<div class="d-none" data-role="message-template">
  <div class="chat-message-container">
    <div class="row no-gutters">
      <div class="col-auto text-center">
        <img src="" class="avatar" alt="" data-role="user-avatar">
      </div>

      <div class="col">
        <div class="message-content">
          <p class="mb-1" data-role="message-text"></p>
          
          <img src="" alt="" data-role="message-media-img">

          <div class="text-right">
            <small data-role="message-date"></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--6. here we add some data in the room page in order to use it in our Javascript file to subscribe to the appropriate streams each time we visit a room. We add two data attributes, one defining to which channel we want to subscribe "(data-channel-subscribe="room")" and one defining to which room we are "(data-room-id="<%= @room.id %>)"-->