<!DOCTYPE html>
<html>
  <head>


    <title>Chitchat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>ChitChat</title>
  </head>

  <body>
  <% unless action_name == "new" %>
    <nav class="navbar navbar-light" style="background-color: #e98888b8;">

        <%= link_to root_path, :action => 'go' do %>
          <div>
          <img src="https://i.imgur.com/oWcqCmw.png" width="140" height="70" class="d-inline-block align-top" alt="">
          </div>
        <% end %>
      <span class="navbar-text">
        <% if current_user %>
          <ul class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

              <% if current_user.avatar.attached? %>
                <% user_pic = image_tag current_user.avatar, size: 30, class: "avatar" %>
              <% else %>
                <% user_pic = image_tag "default-profile.png", size: 30 %>
              <% end %>
              Logged in as <%= current_user.email %><%=user_pic%>
   

            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">My profile</a>
              <a class="dropdown-item" href="#">Edit account</a>
              <a class="dropdown-item" <%= link_to 'Logout', destroy_user_session_path, method: :delete %></a>
            </div>
          </ul>
        <% else %>
          <%# link_to "Log In", login_path %> or
          <%# link_to "Sign Up", signup_path %>
        <% end %>
      </span>
    </nav>
  <% end %>
    <%= yield %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
